.notifications-portal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000; }

@media only screen and (max-width: 600px) {
  .notifications-portal {
    margin: 0;
    width: initial; } }

@media only screen and (min-width: 768px) {
  .notifications-portal {
    margin: 30px;
    width: 708px; } }

.notification-item {
  position: relative;
  margin: 10px;
  word-break: break-all; }

/* stylelint-disable */
.pf-u-display-none {
  display: none !important; }

@media screen and (min-width: 576px) {
  .pf-u-display-none-on-sm {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .pf-u-display-none-on-md {
    display: none !important; } }

@media screen and (min-width: 992px) {
  .pf-u-display-none-on-lg {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-display-none-on-xl {
    display: none !important; } }

.pf-u-display-inline-block {
  display: inline-block !important; }

@media screen and (min-width: 576px) {
  .pf-u-display-inline-block-on-sm {
    display: inline-block !important; } }

@media screen and (min-width: 768px) {
  .pf-u-display-inline-block-on-md {
    display: inline-block !important; } }

@media screen and (min-width: 992px) {
  .pf-u-display-inline-block-on-lg {
    display: inline-block !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-display-inline-block-on-xl {
    display: inline-block !important; } }

.pf-u-display-block {
  display: block !important; }

@media screen and (min-width: 576px) {
  .pf-u-display-block-on-sm {
    display: block !important; } }

@media screen and (min-width: 768px) {
  .pf-u-display-block-on-md {
    display: block !important; } }

@media screen and (min-width: 992px) {
  .pf-u-display-block-on-lg {
    display: block !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-display-block-on-xl {
    display: block !important; } }

.pf-u-display-inline {
  display: inline !important; }

@media screen and (min-width: 576px) {
  .pf-u-display-inline-on-sm {
    display: inline !important; } }

@media screen and (min-width: 768px) {
  .pf-u-display-inline-on-md {
    display: inline !important; } }

@media screen and (min-width: 992px) {
  .pf-u-display-inline-on-lg {
    display: inline !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-display-inline-on-xl {
    display: inline !important; } }

.pf-u-display-table {
  display: table !important; }

@media screen and (min-width: 576px) {
  .pf-u-display-table-on-sm {
    display: table !important; } }

@media screen and (min-width: 768px) {
  .pf-u-display-table-on-md {
    display: table !important; } }

@media screen and (min-width: 992px) {
  .pf-u-display-table-on-lg {
    display: table !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-display-table-on-xl {
    display: table !important; } }

.pf-u-display-table-cell {
  display: table-cell !important; }

@media screen and (min-width: 576px) {
  .pf-u-display-table-cell-on-sm {
    display: table-cell !important; } }

@media screen and (min-width: 768px) {
  .pf-u-display-table-cell-on-md {
    display: table-cell !important; } }

@media screen and (min-width: 992px) {
  .pf-u-display-table-cell-on-lg {
    display: table-cell !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-display-table-cell-on-xl {
    display: table-cell !important; } }

.pf-u-display-table-row {
  display: table-row !important; }

@media screen and (min-width: 576px) {
  .pf-u-display-table-row-on-sm {
    display: table-row !important; } }

@media screen and (min-width: 768px) {
  .pf-u-display-table-row-on-md {
    display: table-row !important; } }

@media screen and (min-width: 992px) {
  .pf-u-display-table-row-on-lg {
    display: table-row !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-display-table-row-on-xl {
    display: table-row !important; } }

.pf-u-display-flex {
  display: flex !important; }

@media screen and (min-width: 576px) {
  .pf-u-display-flex-on-sm {
    display: flex !important; } }

@media screen and (min-width: 768px) {
  .pf-u-display-flex-on-md {
    display: flex !important; } }

@media screen and (min-width: 992px) {
  .pf-u-display-flex-on-lg {
    display: flex !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-display-flex-on-xl {
    display: flex !important; } }

.pf-u-display-inline-flex {
  display: inline-flex !important; }

@media screen and (min-width: 576px) {
  .pf-u-display-inline-flex-on-sm {
    display: inline-flex !important; } }

@media screen and (min-width: 768px) {
  .pf-u-display-inline-flex-on-md {
    display: inline-flex !important; } }

@media screen and (min-width: 992px) {
  .pf-u-display-inline-flex-on-lg {
    display: inline-flex !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-display-inline-flex-on-xl {
    display: inline-flex !important; } }

/* stylelint-enable */

/* stylelint-disable */
.pf-u-flex-column {
  flex-direction: column !important; }

.pf-u-flex-column-reverse {
  flex-direction: column-reverse !important; }

.pf-u-flex-row-reverse {
  flex-direction: row-reverse !important; }

.pf-u-flex-row {
  flex-direction: row !important; }

.pf-u-flex-wrap {
  flex-wrap: wrap !important; }

.pf-u-flex-nowrap {
  flex-wrap: nowrap !important; }

.pf-u-flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.pf-u-align-items-flex-start {
  align-items: flex-start !important; }

.pf-u-align-items-flex-end {
  align-items: flex-end !important; }

.pf-u-align-items-center {
  align-items: center !important; }

.pf-u-align-items-baseline {
  align-items: baseline !important; }

.pf-u-align-items-stretch {
  align-items: stretch !important; }

.pf-u-align-self-flex-start {
  align-self: flex-start !important; }

.pf-u-align-self-flex-end {
  align-self: flex-end !important; }

.pf-u-align-self-center {
  align-self: center !important; }

.pf-u-align-self-baseline {
  align-self: baseline !important; }

.pf-u-align-self-stretch {
  align-self: stretch !important; }

.pf-u-align-content-flex-start {
  align-content: flex-start !important; }

.pf-u-align-content-flex-end {
  align-content: flex-end !important; }

.pf-u-align-content-center {
  align-content: center !important; }

.pf-u-align-content-space-between {
  align-content: space-between !important; }

.pf-u-align-content-space-around {
  align-content: space-around !important; }

.pf-u-align-content-stretch {
  align-content: stretch !important; }

.pf-u-justify-content-flex-start {
  justify-content: flex-start !important; }

.pf-u-justify-content-flex-end {
  justify-content: flex-end !important; }

.pf-u-justify-content-center {
  justify-content: center !important; }

.pf-u-justify-content-space-between {
  justify-content: space-between !important; }

.pf-u-justify-content-space-around {
  justify-content: space-around !important; }

.pf-u-flex-shrink-1 {
  flex-shrink: 1 !important; }

.pf-u-flex-grow-1 {
  flex-grow: 1 !important; }

.pf-u-flex-shrink-0 {
  flex-shrink: 0 !important; }

.pf-u-flex-grow-0 {
  flex-grow: 0 !important; }

.pf-u-flex-basis-0 {
  flex-basis: 0 !important; }

.pf-u-flex-basis-auto {
  flex-basis: auto !important; }

.pf-u-flex-none {
  flex: none !important; }

.pf-u-flex-1 {
  flex: 1 !important; }

.pf-u-flex-fill {
  flex: 1 1 auto !important; }

.pf-u-flex-none {
  flex: none !important; }

@media screen and (min-width: 576px) {
  .pf-u-flex-none-on-sm {
    flex: none !important; } }

@media screen and (min-width: 768px) {
  .pf-u-flex-none-on-md {
    flex: none !important; } }

@media screen and (min-width: 992px) {
  .pf-u-flex-none-on-lg {
    flex: none !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-flex-none-on-xl {
    flex: none !important; } }

.pf-u-flex-1 {
  flex: 1 !important; }

@media screen and (min-width: 576px) {
  .pf-u-flex-1-on-sm {
    flex: 1 !important; } }

@media screen and (min-width: 768px) {
  .pf-u-flex-1-on-md {
    flex: 1 !important; } }

@media screen and (min-width: 992px) {
  .pf-u-flex-1-on-lg {
    flex: 1 !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-flex-1-on-xl {
    flex: 1 !important; } }

.pf-u-flex-fill {
  flex: 1 1 auto !important; }

@media screen and (min-width: 576px) {
  .pf-u-flex-fill-on-sm {
    flex: 1 1 auto !important; } }

@media screen and (min-width: 768px) {
  .pf-u-flex-fill-on-md {
    flex: 1 1 auto !important; } }

@media screen and (min-width: 992px) {
  .pf-u-flex-fill-on-lg {
    flex: 1 1 auto !important; } }

@media screen and (min-width: 1200px) {
  .pf-u-flex-fill-on-xl {
    flex: 1 1 auto !important; } }

/* stylelint-enable */

:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

i.Ansible.is-supported .st0 {
  fill: var(--pf-global--info-color--100); }

i.Ansible.is-unsupported {
  cursor: not-allowed; }
  i.Ansible.is-unsupported .st0, i.Ansible.is-unsupported .st1, i.Ansible.is-unsupported .st2 {
    fill: var(--pf-global--BackgroundColor--disabled); }

i.Ansible svg {
  height: var(--pf-global--FontSize--xl);
  position: relative;
  top: 4px;
  top: 0.25rem; }

h1 {
  display: inline; }

:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

.ins-battery svg {
  height: 18px;
  height: 1.125rem;
  line-height: 1; }

.ins-battery-1 svg path, .ins-battery-low svg path, .ins-battery-info svg path {
  fill: var(--pf-global--success-color--100); }

.ins-battery-2 svg path, .ins-battery-medium svg path, .ins-battery-warn svg path {
  fill: var(--pf-global--warning-color--100); }

.ins-battery-3 svg path, .ins-battery-high svg path, .ins-battery-error svg path {
  fill: var(--ins-color--orange); }

.ins-battery-4 svg path, .ins-battery-critical svg path {
  fill: var(--pf-global--danger-color--100); }

.ins-battery-0 svg path, .ins-battery-null svg path {
  fill: #d7d7d7; }

:root {
  --ins-color--orange: #ec7a08; }

button:focus {
  outline: none; }

section.ins-l-content {
  padding: var(--pf-global--spacer--lg); }

section.ins-l-button-group {
  margin: 24px 0px;
  margin: 1.5rem 0rem; }
  section.ins-l-button-group > * {
    display: inline; }
  section.ins-l-button-group * + * {
    margin-left: 5px;
    margin-left: 0.3125rem; }

section.ins-l-icon-group * + * {
  margin-left: 10px; }

section.ins-l-icon-group__with-major * + * {
  margin-left: 7.5px; }

section.ins-l-icon-group__with-major .ins-battery:last-of-type {
  padding-left: 15px;
  border-left: 2px solid #eaeaea; }
  section.ins-l-icon-group__with-major .ins-battery:last-of-type span.label {
    font-weight: 500;
    margin: 0 10px; }

:root {
  --ins-color--orange: #ec7a08; }

.ins-empty-rule-cards div {
  text-align: center; }

.ins-c-rules-card .pf-c-card__header .pf-l-split__item:first-of-type {
  white-space: nowrap;
  margin-right: 5px;
  margin-right: 0.3125rem; }

.ins-c-rules-card .ins-l-icon-group__with-major {
  display: inline; }

.ins-c-rules-card .space-between {
  display: flex;
  justify-content: space-between; }

.ins-c-rules-card .pf-c-card__header div {
  font-weight: 600; }

.ins-c-rules-card + .ins-c-rules-card {
  margin-top: var(--pf-global--spacer--xl); }

.ins-c-rules-card a[disabled] {
  cursor: not-allowed;
  color: var(--pf-global--BackgroundColor--disabled); }
  .ins-c-rules-card a[disabled]:hover {
    text-decoration: none; }

