/*!********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/js/App/Sidenav/LandingNav.scss ***!
  \********************************************************************************************************************************************************************************************************************************/
.chr-c-landing-nav {
  height: 100%;
}
.chr-c-landing-nav .chr-c-app-title {
  border: 0;
}

/**
* There is a transition of background color on first landing page nav render
* We have to turn it off for now because we are adding the PF nav class names later on
*/
#chr-c-landing-nav {
  transition: none;
}
